<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>
<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body" style="min-height: 60vh;">
            <div class="row">
              <div class="col-12 text-center" style="margin-top: 25%;" *ngIf="nodataload"><h5>No data ...</h5></div>
              <div class="col-12">
                <div class="row">
                  <div class="col-3">
                    <select style="width: 100%;" class="form-control" [formControl]="fcselecttype" (change)="changeselect()">
                      <option value="influencer" [selected]="true">Influencer</option>
                      <option value="sna">Organisasi</option>
                  </select>
                  </div>
                  <div class="col-3">
                    <select style="width: 100%;" class="form-control" [formControl]="fcselectinfluencer">
                      <option value="" [selected]="true" >select</option>
                      <option *ngFor="let data of InfluencerConfList">{{data}}</option>
                  </select>
                  </div>
                  <div class="col-2">
                    <input #imageInput type="file" accept=".jpeg,.png,.jpg" (change)="processFile($event)" class="form-control p-1">
                  </div>
                  <div class="col-2">
                    <button class="btn btn-primary" (click)="uploadimage()">Save Image</button>
                  </div>
                </div>
              </div>
              <div id="sna"></div>
            </div>
        </div>
      </div>
    </div>
  </div>  
</div>
<!-- <app-ArticlesModule #articlesContainer></app-ArticlesModule> -->