<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <div *ngFor="let alert of alerts">
            <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout" (onClosed)="onClosed(alert)">{{ alert.msg }}</alert>
          </div>
          <div class="row align-items-center mt-12">            
            <div class="col col-md-2">
              <button type="button" class="btn btn-primary px-4" (click)="addInfluencerfunc()">Add Influencer</button>
            </div>  
          </div>
          <br>
          <div class="table-responsive" style="height:350px;overflow-x: hidden;">
            <table class="table table-bordered table-striped table-sm">
              <thead>
                <tr>      
                  <th>No</th>            
                  <th>Influencer Name</th>
                  <th></th>  
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>              
                <tr *ngFor="let client of InfluencerConfList; let i=index">
                  <td>{{i+1}}</td>
                  <td>
                    <button class="btn btn-block" type="button" style="word-wrap:break-word;text-align: justify;">
                        {{ client.influencer_name }}
                    </button>                    
                  </td>
                  <td style="text-align:center"><i class="icon-magnifier icons" (click)="addInfluencerkeyword(client)"></i></td>                  
                  <td style="text-align:center"><i class="icon-pencil icons" (click)="editInfluencer(client)"></i></td>
                  <td style="text-align:center"><i class="icon-trash icons" (click)="deleteInfluencer(client)"></i></td>                  
                </tr>
                <tr *ngIf="InfluencerConfList.length<1">
                  <td colspan="5" class="no-data-available">No data!</td>
                </tr>
              </tbody>
            </table>             
          </div>
          <br>
          <!-- <div *ngIf="editingList.data?.length > 0">
            <div class="col-md-12" style="text-align:right">
              Total article found : {{editingList.recordsTotal}}
            </div>                        
            <div class="row">
              <div class="col-md-12">
                <pagination [totalItems]="editingList.recordsTotal" [rotate]="rotate" [maxSize]="pageSize" [(ngModel)]="currentPage" (pageChanged)="pageChanged($event)"></pagination>                  
              </div>
            </div>            
          </div>  -->
        </div>
      </div>
    </div>
  </div>  
</div>

<!-- <ng-template #template>
  <div class="modal-body text-center">
    <p>
      Are you sure you want to delete this group category?
    </p>
    <button type="button" class="btn btn-default" (click)="doDeleteGroupCategory()" >Yes</button>
    <button type="button" class="btn btn-primary" (click)="decline()" >No</button>
  </div>
</ng-template>

<div bsModal #groupCategoryDetail="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Group Category Detail</h3>
        <button type="button" class="close" (click)="groupCategoryDetail.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div *ngFor="let alert of alerts">
        <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout" (onClosed)="onClosed(alert)">{{ alert.msg }}</alert>
      </div>
      <div  id= "print-section" class="modal-body">   
        <div class="row align-items-center mt-12">            
          <div class="col col-md-2">
              <input type="checkbox" name="checkBoxAllArticle" [(ngModel)]="checkedAllModel" (ngModelChange)="onCheckedAllChange()"/> Check All
          </div>
        </div>
        <br>
        <div class="table-responsive" style="height:250px;overflow-x: hidden;">
          <table class="table table-bordered table-striped table-sm">
            <tbody>              
              <tr *ngFor="let details of groupCategoryDetailList">
                <td><input type="checkbox" name="cbSelected" [(ngModel)]="details.chosen"/></td>
                <td>{{ details.category_id}}</td>		  
              </tr>
              <tr *ngIf="groupCategoryDetailList.length == 0">
                <td colspan="7" class="no-data-available">No data!</td>
              </tr>
            </tbody>
          </table>             
        </div>            
      </div>      
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="doSaveSubGroupCategory();">Save Changes</button>
          <button type="button" class="btn btn-secondary" (click)="groupCategoryDetail.hide()">Close</button>        
        </div>
      </div>
    </div>
  </div> -->

<div bsModal #influencerDetailsModals="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add Influencer Keyword</h5>
        <button type="button" class="close" (click)="influencerDetailsModals.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">        
        <form class="form-horizontal" #FormInfluencerDetails="ngForm">
          <div class='row'>
            <div class="col-sm-12">
              <div class="form-group">
                <label for="influencerkeyword">Influencer Keyword</label>
                <input name="influencerkeyword" class="form-control" required [(ngModel)]="influencerkeywordModel" #influencerkeyword="ngModel">                
                <br>
                <div *ngIf="influencerkeyword.invalid && (influencerkeyword.dirty)" class="alert alert-danger">
                  <div *ngIf="influencerkeyword.errors.required">
                    this input Can't be empty
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
        <br>
        <div class="table-responsive" style="height:100px;overflow-x: hidden;">
          <table class="table table-bordered table-striped table-sm">
            <tbody>              
              <tr *ngFor="let details of InfluencerDetailsList">
                <td>{{ details}}</td>		  
                <td style="text-align:center"><i class="icon-trash icons" (click)="openModal(template, details,'keyword')"></i></td>
              </tr>
              <tr *ngIf="InfluencerDetailsList.length == 0">
                <td colspan="2" class="no-data-available">No Keywords!</td>
              </tr>
            </tbody>
          </table>             
        </div>
      </div>        
      <div class="modal-footer">    
        <button type="button" class="btn btn-primary" [disabled]="!FormInfluencerDetails.valid" (click)="addkeyword();FormInfluencerDetails.reset()">Add Keyword</button>
        <button type="button" class="btn btn-secondary" (click)="influencerDetailsModals.hide();FormInfluencerDetails.reset()">Cancel</button>        
      </div>
    </div>
  </div>
</div>

<div bsModal #influencerModals="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-sm" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{{contentinfluencer}}</h5>
          <button type="button" class="close" (click)="influencerModals.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">        
          <form class="form-horizontal" #FormInfluencer="ngForm">
            <div class='row'>
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="influencerName">Influencer Name</label>
                  <input name="influencerName" class="form-control" required [(ngModel)]="influencerModel" #influencerName="ngModel" id="influencerName">                
                  <br>
                  <!-- <div *ngIf="influencerName.invalid && (influencerName.dirty)" class="alert alert-danger">
                    <div *ngIf="influencerName.errors.required">
                      this input Can't be empty
                    </div>
                  </div> -->
                </div>
              </div>
            </div>
            <!-- <div class='row'>
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="influencerBacktrack">Backtrack</label>
                  <input id="influencerBacktrack" name="influencerBacktrack"  class="form-control" bsDatepicker [(ngModel)]="backtrackModel"
                  #influencerBacktrack="ngModel">
                </div>
              </div>
            </div> -->
          </form>
          <br>
        </div>        
        <div class="modal-footer">    
          <button *ngIf="contentinfluencer === 'ADD INFLUENCER'" type="button" class="btn btn-primary" [disabled]="!FormInfluencer.valid" (click)="addInfluencer();FormInfluencer.reset()">Submit</button>
          <button *ngIf="contentinfluencer === 'EDIT INFLUENCER'" type="button" class="btn btn-primary" [disabled]="!FormInfluencer.valid" (click)="editInfluencerfunc();FormInfluencer.reset()">Submit</button>        
          <button *ngIf="contentinfluencer === 'DELETE INFLUENCER'" type="button" class="btn btn-primary" [disabled]="!FormInfluencer.valid" (click)="deleteInfluencerfunc();FormInfluencer.reset()">Submit</button>        
        </div>
      </div>
    </div>
</div>
<div bsModal #subCategoryDetail="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" [config]="{backdrop: 'static'}">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Sub Influencer Detail</h3>
        <button type="button" class="close" (click)="subCategoryDetail.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div *ngFor="let alert of alerts">
        <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout" (onClosed)="onClosed(alert)">{{ alert.msg }}</alert>
      </div>
      <div  id= "print-section" class="modal-body">   
        <form class="form-horizontal" #FormSubCategory="ngForm">
          <div class="row">            
            <div class="col-sm-12">
              <div class="form-group">
                <label for="subCategoryName">Keyword</label>
                <input name="subCategoryName" class="form-control" required [(ngModel)]="keywordNameModel" #subCategoryName="ngModel">
                <br>
                <div *ngIf="subCategoryName.invalid && (subCategoryName.dirty)" class="alert alert-danger">
                  <div *ngIf="subCategoryName.errors.required">
                    Name Can't be empty
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-12">
              <label for="influencerBacktrack">Backtrack</label>
              <input id="influencerBacktrack" name="influencerBacktrack"  required class="form-control" bsDatepicker [(ngModel)]="backtrackModel"
              #influencerBacktrack="ngModel">
            </div>
          </div>
        </form>
        <br><br>
        <div class="table-responsive" style="height:150px;overflow-x: hidden;">
          <table class="table table-bordered table-striped table-sm">
            <tbody>              
              <tr *ngFor="let details of InfluencerDetailsList">
                <td class="text-center">{{details}}</td>		  
                <td style="text-align:center"><i class="icon-trash icons" (click)="deletekeywordinfluencer(details)"></i></td>
              </tr>
              <tr *ngIf="InfluencerDetailsList.length == 0">
                <td colspan="7" class="no-data-available">No Keywords!</td>
              </tr>
            </tbody>
          </table>             
        </div>  
      </div> 
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" [disabled]="!FormSubCategory.valid" (click)="addKeywordinfluencer(); FormSubCategory.reset()">Add Keyword</button>
        <button type="button" class="btn btn-secondary" (click)="subCategoryDetail.hide()">Close</button>        
      </div>
    </div>
  </div>
</div>