<ngx-loading
  [show]="loading"
  [config]="{ backdropBorderRadius: '3px' }"
></ngx-loading>
<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <div *ngFor="let alert of alerts">
            <alert
              [type]="alert.type"
              [dismissOnTimeout]="alert.timeout"
              (onClosed)="onClosed(alert)"
              >{{ alert.msg }}</alert
            >
          </div>
          <div class="row align-items-center mt-12">
            <div class="col col-md-3">
              <input
                type="text"
                class="form-control"
                placeholder="Search.."
                name="subCategoryInput"
                [(ngModel)]="newSubCategory"
              />
            </div>
            <div class="col col-lg-2">
              <button
                type="button"
                class="btn btn-primary px-4"
                (click)="addNewSubCategory()"
              >
                Add Sub Category
              </button>
            </div>
          </div>
          <br />
          <div
            class="table-responsive"
            style="height: 350px; overflow-x: hidden;"
          >
            <table class="table table-bordered table-striped table-sm">
              <thead>
                <tr>
                  <th>Sub Category</th>
                  <th class="text-center">Search</th>
                  <th class="text-center">Edit</th>
                  <th class="text-center">Delete</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let client of subCategoryList">
                  <td>{{ client.category_id }}</td>
                  <td style="text-align: center;">
                    <i
                      class="icon-magnifier icons"
                      (click)="showDetails(client)"
                    ></i>
                  </td>
                  <td style="text-align: center;">
                    <i
                      class="icon-pencil icons"
                      (click)="updateSubCategory(client)"
                    ></i>
                  </td>
                  <td style="text-align: center;">
                    <i
                      class="icon-trash icons"
                      (click)="openModal(template, client, 'subCategory')"
                    ></i>
                  </td>
                </tr>
                <tr *ngIf="subCategoryList.length < 1">
                  <td colspan="4" class="no-data-available">No data!</td>
                </tr>
              </tbody>
            </table>
          </div>
          <br />
          <!-- <div *ngIf="editingList.data?.length > 0">
            <div class="col-md-12" style="text-align:right">
              Total article found : {{editingList.recordsTotal}}
            </div>                        
            <div class="row">
              <div class="col-md-12">
                <pagination [totalItems]="editingList.recordsTotal" [rotate]="rotate" [maxSize]="pageSize" [(ngModel)]="currentPage" (pageChanged)="pageChanged($event)"></pagination>                  
              </div>
            </div>            
          </div>  -->
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #template>
  <div class="modal-body text-center">
    <p>
      Are you sure you want to delete this sub category?
    </p>
    <button
      type="button"
      class="btn btn-default"
      (click)="doDeleteSubCategory()"
    >
      Yes
    </button>
    <button type="button" class="btn btn-primary" (click)="decline()">
      No
    </button>
  </div>
</ng-template>

<div
  bsModal
  #subCategoryDetail="bs-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Sub Category Detail</h3>
        <button
          type="button"
          class="close"
          (click)="subCategoryDetail.hide()"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div *ngFor="let alert of alerts">
        <alert
          [type]="alert.type"
          [dismissOnTimeout]="alert.timeout"
          (onClosed)="onClosed(alert)"
          >{{ alert.msg }}</alert
        >
      </div>
      <div id="print-section" class="modal-body">
        <form class="form-horizontal" #FormSubCategory="ngForm">
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="subCategoryName">Keyword</label>
                <input
                  name="subCategoryName"
                  class="form-control"
                  required
                  [(ngModel)]="keywordNameModel"
                  #subCategoryName="ngModel"
                />
                <!-- <input type="hidden" id="SiswaID" name="SiswaID" [(ngModel)]="ModelSiswaID"> -->
                <br />
                <div
                  *ngIf="subCategoryName.invalid && subCategoryName.dirty"
                  class="alert alert-danger"
                >
                  <div *ngIf="subCategoryName.errors.required">
                    Name Can't be empty
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-3">
              <div class="form-group">
                <label for="subCategoryFrom">From</label>
                <input
                  id="subCategoryFrom"
                  name="subCategoryFrom"
                  class="form-control"
                  bsDatepicker
                  required
                  [(ngModel)]="subCategoryFromModel"
                  #subCategoryFrom="ngModel"
                />
                <br />
                <div
                  *ngIf="subCategoryFrom.invalid && subCategoryFrom.dirty"
                  class="alert alert-danger"
                >
                  <div *ngIf="subCategoryFrom.errors.required">
                    This field can't be empty
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <label for="subCategoryTo">To</label>
                <input
                  id="subCategoryTo"
                  name="subCategoryTo"
                  class="form-control"
                  bsDatepicker
                  required
                  [(ngModel)]="subCategoryToModel"
                  #subCategoryTo="ngModel"
                />
                <br />
                <div
                  *ngIf="subCategoryTo.invalid && subCategoryTo.dirty"
                  class="alert alert-danger"
                >
                  <div *ngIf="subCategoryTo.errors.required">
                    This field can't be empty
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
        <br /><br />
        <div
          class="table-responsive"
          style="height: 150px; overflow-x: hidden;"
        >
          <table class="table table-bordered table-striped table-sm">
            <tbody>
              <tr *ngFor="let details of subCategoryDetailList">
                <td>{{ details.keyword }}</td>
                <td style="text-align: center;">
                  <i
                    class="icon-trash icons"
                    (click)="openModal(template, details, 'keyword')"
                  ></i>
                </td>
              </tr>
              <tr *ngIf="subCategoryDetailList.length == 0">
                <td colspan="7" class="no-data-available">No Keywords!</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-primary"
          [disabled]="!FormSubCategory.valid"
          (click)="addKeyword(); FormSubCategory.reset()"
        >
          Add Keyword
        </button>
        <button
          type="button"
          class="btn btn-secondary"
          (click)="subCategoryDetail.hide()"
        >
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<div
  bsModal
  #editNameSubCategory="bs-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit Sub Category</h5>
        <button
          type="button"
          class="close"
          (click)="editNameSubCategory.hide()"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-2">
            <p>Name</p>
          </div>
          <div class="col-md-10">
            <input
              type="text"
              class="form-control form-control-sm"
              placeholder=""
              name="subCategoryInput"
              [(ngModel)]="editSubCategory"
            />
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-primary"
          (click)="doUpdateSubCategory()"
        >
          Save
        </button>
        <button
          type="button"
          class="btn btn-secondary"
          (click)="editNameSubCategory.hide()"
        >
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>
