<div class="limiter">
		<div class="container-login100" style="background-image: url('assets/img/8385.jpg');">
			<div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
				<form class="login100-form validate-form">
					
					<span class="login100-form-title p-b-49">
						<!-- <img src="assets/img/brand/digivla-color.png" class="img-rounded" alt="Digivla Logo" style="height: 150px;"/>	 -->
						<img [src]="imagelogin" class="img-rounded" alt="Digivla Logo" style="height: 150px;"/>	
					</span>

					<div class="wrap-input100 validate-input m-b-23" data-validate = "Username is reauired">
						<span class="label-input100">Username</span>
						<input class="input100" type="text" name="username" placeholder="Type your username" [(ngModel)]="ModelEmail">
						<span class="focus-input100" data-symbol="&#xf206;"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate="Password is required">
						<span class="label-input100">Password</span>
						<input class="input100" type="password" name="pass" placeholder="Type your password" [(ngModel)]="ModelPassword">
						<span class="focus-input100" data-symbol="&#xf190;"></span>
					</div>
					
					<div class="text-right p-t-8 p-b-31">
						<!-- <a href="#">
							Forgot password?
						</a> -->
					</div>
					
					<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>
							<button class="login100-form-btn" (click)="login()">
								Login
							</button>
						</div>
						<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading> <!--add ahmadk-->
					</div>

					<!-- <div class="txt1 text-center p-t-54 p-b-20">
						<span>
							Or Sign Up Using
						</span>
					</div>

					<div class="flex-c-m">
						<a href="#" class="login100-social-item bg1">
							<i class="fa fa-facebook"></i>
						</a>

						<a href="#" class="login100-social-item bg2">
							<i class="fa fa-twitter"></i>
						</a>

						<a href="#" class="login100-social-item bg3">
							<i class="fa fa-google"></i>
						</a>
					</div>

					<div class="flex-col-c p-t-155">
						<span class="txt1 p-b-17">
							Or Sign Up Using
						</span>

						<a href="#" class="txt2">
							Sign Up
						</a>
					</div> -->
				</form>
			</div>
		</div>
	</div>



	<div bsModal #popUpHandlerLogin="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-sm " role="document">
		<div class="modal-body bg-white text-center">
		  <p>{{msgerr}}
		  </p>
		  <!-- <button type="button" class="btn btn-default" (click)="doUpdateCompany()" >Yes</button> -->
		  <button type="button" class="btn btn-primary" (click)="popUpHandlerLogin.hide()" >yes</button>
		</div>
		</div>
	  </div>