<div bsModal #saveArticleModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <!-- <h3 class="modal-title">{{titleModel}}</h3> -->
          <button type="button" class="close" (click)="saveArticleModal.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class='row'>
            <div class='col-md-2'>
              <p>Tone</p>
            </div>
            <div class="col-md-10">
              <select id="toneSelect" name="toneSelect" class="form-control form-control-sm"  [(ngModel)]="toneModel">                
                <option value="0">Neutral</option>
                <option value="1">Positive</option>
                <option value="-1">Negative</option>
              </select>
            </div>
          </div>
          <div class="catergory" style="overflow-y:scroll;height:200px;overflow-x: hidden;">            
            <table class="table table-striped">
              <thead>
                <tr>
                  <th></th>
                  <th>Sub Category</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let category of categoryList">
                  <td><input type="checkbox" name="checkBoxCategory" [(ngModel)]="category.checked"/></td>
                  <td>{{ category.category_id}}</td>
                </tr>
              </tbody>
            </table>
          </div>                    
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="saveHandler()">Save Article</button>
          <button type="button" class="btn btn-secondary" (click)="saveArticleModal.hide()">Close</button>        
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
