<app-header
  [fixed]="true"
  [navbarBrandFull]="logo"
  [navbarBrandMinimized]="logo"
  [sidebarToggler]="'lg'"
  [asideMenuToggler]="'lg'"
>
  <!-- <app-header [fixed]="true"  [sidebarToggler]="'lg'"
  [asideMenuToggler]="false" [mobileAsideMenuToggler]="true"> -->
  <ul class="nav navbar-nav ml-auto">
    <li class="nav-item dropdown" dropdown placement="bottom right">
      <a
        class="nav-link"
        data-toggle="dropdown"
        href="#"
        role="button"
        aria-haspopup="true"
        aria-expanded="false"
        dropdownToggle
        (click)="(false)"
      >
        <i class="fa fa-user-o fa-lg my-3" style="margin-bottom: 30%;"></i>
        <!-- <img src="assets/img/avatars/6.jpg" class="img-avatar" alt="admin@bootstrapmaster.com" /> -->
      </a>
      <div
        class="dropdown-menu dropdown-menu-right"
        *dropdownMenu
        aria-labelledby="simple-dropdown"
      >
        <div class="dropdown-header text-center"><strong>Account</strong></div>
        <a class="dropdown-item" href="#" (click)="logOutHandler()"
          ><i class="fa fa-lock"></i> Logout</a
        >
      </div>
    </li>

    <!-- <li class="nav-item">
      <label class="switch switch-primary">
        <input type="checkbox" class="switch-input" [checked]="togle" (change)="togle =! togle">

        <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
      </label>
    </li> -->
  </ul>
</app-header>

<div class="app-body">
  <app-sidebar [fixed]="true" [display]="'lg'">
    <app-sidebar-nav
      [navItems]="navItems"
      [perfectScrollbar]
      [disabled]="sidebarMinimized"
    ></app-sidebar-nav>
    <img
      [src]="logo_img"
      class="img-avatar"
      alt="Digivla Logo"
      id="logo_footer_url"
    />
    <app-sidebar-minimizer></app-sidebar-minimizer>
  </app-sidebar>
  <!-- Main content -->
  <main class="main">
    <!-- Breadcrumb -->
    <!-- breaking change 'cui-breadcrumb' -->
    <ol class="breadcrumb">
      <app-breadcrumb> </app-breadcrumb>
      <!-- Breadcrumb Menu-->
      <li class="breadcrumb-menu d-md-down-none">
        <div
          class="btn-group"
          role="group"
          aria-label="Button group with nested dropdown"
        >
          <div class="col-md-6"></div>
          <div class="col-md-6"></div>
        </div>
      </li>
    </ol>
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
    <!-- /.container-fluid -->
  </main>

  <div class="aside-content">
    <app-aside [fixed]="true" [display]="false">
      <tabset style="height: 100vh;">
        <tab style="height: 100vh;">
          <ng-template tabHeading style="height: fit-content;">
            <button
              type="button"
              class="btn btn-block btn-sm"
              (click)="notifyChildren()"
              style="width: 60px;"
            >
              Filter <span class="ml-1"><i class="fa fa-filter"></i></span>
            </button>
          </ng-template>
          <div class="list-group list-group-accent">
            <div
              class="list-group-item list-group-item-accent-secondary bg-light text-center font-weight-bold text-muted text-uppercase small"
            >
              Dashboard Filters
            </div>
            <div
              class="list-group-item list-group-item-accent-info list-group-item-divider"
            >
              <!-- <div class="float-right mb-3">
              <button type="button" class="btn btn-block btn-sm btn-outline-success"
                style="width: 60px;">Select</button>
            </div> -->
              <div class="float-left">
                Periodic
                <strong>Filter</strong>
              </div>
              <div class="form-group">
                <select
                  id="periodSelect"
                  name="periodSelect"
                  class="form-control rounded form-control-sm"
                  (change)="onChange($event.target.value)"
                  [(ngModel)]="periodModel"
                >
                  <!-- <option value="0">Period</option> -->
                  <option value="1">Yesterday</option>
                  <option value="2">Last Week</option>
                  <option value="3">Last Month</option>
                  <option value="4">Last Year</option>
                  <option value="5">Pick Date Range</option>
                </select>
              </div>
              <div class="form-group">
                <div *ngIf="edited">
                  <label for="periodFrom">Start Date:</label>
                  <input
                    type="text"
                    id="periodFrom"
                    class="form-control form-control-sm"
                    #dp="bsDatepicker"
                    bsDatepicker
                    [(bsValue)]="periodFromModel"
                  />
                </div>
                <div *ngIf="edited">
                  <label for="periodEnd">End Date:</label>
                  <input
                    type="text"
                    id="periodEnd"
                    class="form-control form-control-sm"
                    #dp="bsDatepicker"
                    bsDatepicker
                    [(bsValue)]="periodEndModel"
                  />
                </div>
              </div>
            </div>
            <div
              class="list-group-item list-group-item-accent-warning list-group-item-divider"
            >
              <!-- <div class="float-right mb-3">
              <button type="button" class="btn btn-block btn-sm btn-outline-success"
                style="width: 60px;">Select</button>
            </div> -->
              <div class="float-left">
                Category
                <strong>Filter</strong>
              </div>
              <div class="form-group">
                <select
                  class="form-control rounded form-control-sm"
                  [(ngModel)]="groupCategoryModel"
                  (change)="onGroupCategoryChange($event.target.value)"
                  id="ccmonth"
                >
                  <option
                    *ngFor="let Opsi of groupCategoryOption"
                    [value]="Opsi.category_set"
                  >
                    {{ Opsi.descriptionz }}
                  </option>
                </select>
              </div>
            </div>
            <div
              class="list-group-item list-group-item-accent-info list-group-item-divider"
            >
              <!-- <div class="float-right mb-3">
              <button type="button" class="btn btn-block btn-sm btn-outline-success"
                style="width: 60px;">Select</button>
            </div> -->
              <div class="float-left">
                SubCategory
                <strong>Filter</strong>
              </div>
              <div class="form-group">
                <select
                  class="form-control rounded form-control-sm"
                  [(ngModel)]="subCategoryModel"
                  id="ccmonth"
                >
                  <option
                    *ngFor="let Opsi of subCategoryOption"
                    [value]="Opsi.category_id"
                  >
                    {{ Opsi.category_id }}
                  </option>
                </select>
              </div>
            </div>
            <div
              class="list-group-item list-group-item-accent-danger list-group-item-divider"
            >
              <!-- <div class="float-right mb-3">
              <button type="button" class="btn btn-block btn-sm btn-outline-success"
                style="width: 60px;">Select</button>
            </div> -->
              <div class="float-left">
                Group Media
                <strong>Filter</strong>
              </div>
              <div class="form-group">
                <select
                  class="form-control rounded form-control-sm"
                  [(ngModel)]="groupMediaModel"
                  (change)="onGroupMediaChange($event.target.value)"
                  id="ccmonth"
                >
                  <option
                    *ngFor="let Opsi of groupMediaOption"
                    [value]="Opsi.user_media_type_id"
                  >
                    {{ Opsi.user_media_type_name_def }}
                  </option>
                </select>
              </div>
            </div>
            <div
              class="list-group-item list-group-item-accent-success list-group-item-divider"
            >
              <!-- <div class="float-right mb-3">
              <button type="button" class="btn btn-block btn-sm btn-outline-success"
                style="width: 60px;">Select</button>
            </div> -->
              <div class="float-left">
                SubMedia
                <strong>Filter</strong>
              </div>
              <div class="form-group">
                <select
                  class="form-control form-control-sm"
                  [(ngModel)]="subMediaModel"
                  style="width: 120px;"
                  (change)="onChangeMore($event.target.value)"
                >
                  <option
                    *ngFor="let Opsi of subMediaOption"
                    [value]="Opsi.media_id"
                  >
                    {{ Opsi.media_name }}
                  </option>
                  <option value="1">more..</option>
                </select>
              </div>
            </div>
          </div>
        </tab>
      </tabset>
    </app-aside>
  </div>
</div>

<app-footer>
  <span class="mr-auto" style="font-size: 12px;"
    ><a [href]="url_footer" target="blank">{{ text_footer }}</a> &copy; 2018
    {{ text_footer }}.</span
  >
  <span class="ml-auto mr-3" style="font-size: 12px;"
    >Powered by
    <a [href]="url_footer" target="blank">{{ text_footer }}</a></span
  >
  <!-- <span><a href="https://coreui.io">CoreUI</a> &copy; 2018 creativeLabs.</span>
  <span class="ml-auto">Powered by <a href="https://coreui.io/angular">CoreUI for Angular</a></span> -->
</app-footer>
