<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <div *ngFor="let alert of alerts">
            <alert
              [type]="alert.type"
              [dismissOnTimeout]="alert.timeout"
              (onClosed)="onClosed(alert)"
              >{{ alert.msg }}</alert
            >
          </div>
          <div class="row align-items-center mt-12">
            <div class="col col-md-3">
              <input
                type="text"
                class="form-control"
                placeholder="Search.."
                name="groupCategoryInput"
                [(ngModel)]="newGroupCategory"
              />
            </div>
            <div class="col col-lg-2">
              <button
                type="button"
                class="btn btn-primary px-4"
                (click)="addNewGroupCategory()"
              >
                Add Group Category
              </button>
            </div>
          </div>
          <br />
          <div
            class="table-responsive"
            style="height: 350px; overflow-x: hidden;"
          >
            <table class="table table-bordered table-striped table-sm">
              <thead>
                <tr>
                  <th>Group Category</th>
                  <th class="text-center">Search</th>
                  <th class="text-center">Edit</th>
                  <th class="text-center">Delete</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let client of groupCategoryList">
                  <td>{{ client.descriptionz }}</td>
                  <td style="text-align: center;">
                    <i
                      class="icon-magnifier icons"
                      (click)="showDetails(client)"
                    ></i>
                  </td>
                  <td style="text-align: center;">
                    <i
                      class="icon-pencil icons"
                      (click)="updateCategory(client)"
                    ></i>
                  </td>
                  <td style="text-align: center;">
                    <i
                      class="icon-trash icons"
                      (click)="openModal(template, client)"
                    ></i>
                  </td>
                </tr>
                <tr *ngIf="groupCategoryList.length < 1">
                  <td colspan="4" class="no-data-available">No data!</td>
                </tr>
              </tbody>
            </table>
          </div>
          <br />
          <!-- <div *ngIf="editingList.data?.length > 0">
              <div class="col-md-12" style="text-align:right">
                Total article found : {{editingList.recordsTotal}}
              </div>                        
              <div class="row">
                <div class="col-md-12">
                  <pagination [totalItems]="editingList.recordsTotal" [rotate]="rotate" [maxSize]="pageSize" [(ngModel)]="currentPage" (pageChanged)="pageChanged($event)"></pagination>                  
                </div>
              </div>            
            </div>  -->
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #template>
  <div class="modal-body text-center">
    <p>
      Are you sure you want to delete this group category?
    </p>
    <button
      type="button"
      class="btn btn-default"
      (click)="doDeleteGroupCategory()"
    >
      Yes
    </button>
    <button type="button" class="btn btn-primary" (click)="decline()">
      No
    </button>
  </div>
</ng-template>

<div
  bsModal
  #groupCategoryDetail="bs-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Group Category Detail</h3>
        <button
          type="button"
          class="close"
          (click)="groupCategoryDetail.hide()"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div *ngFor="let alert of alerts">
        <alert
          [type]="alert.type"
          [dismissOnTimeout]="alert.timeout"
          (onClosed)="onClosed(alert)"
          >{{ alert.msg }}</alert
        >
      </div>
      <div id="print-section" class="modal-body">
        <div class="row align-items-center mt-12">
          <div class="col col-md-2">
            <input
              type="checkbox"
              name="checkBoxAllArticle"
              [(ngModel)]="checkedAllModel"
              (ngModelChange)="onCheckedAllChange()"
            />
            Check All
          </div>
        </div>
        <br />
        <div
          class="table-responsive"
          style="height: 250px; overflow-x: hidden;"
        >
          <table class="table table-bordered table-striped table-sm">
            <tbody>
              <tr *ngFor="let details of groupCategoryDetailList">
                <td>
                  <input
                    type="checkbox"
                    name="cbSelected"
                    [(ngModel)]="details.chosen"
                  />
                </td>
                <td>{{ details.category_id }}</td>
              </tr>
              <tr *ngIf="groupCategoryDetailList.length == 0">
                <td colspan="7" class="no-data-available">No data!</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-primary"
          (click)="doSaveSubGroupCategory()"
        >
          Save Changes
        </button>
        <button
          type="button"
          class="btn btn-secondary"
          (click)="groupCategoryDetail.hide()"
        >
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<div
  bsModal
  #editNameGroupCategory="bs-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit Group Category</h5>
        <button
          type="button"
          class="close"
          (click)="editNameGroupCategory.hide()"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-2">
            <p>Name</p>
          </div>
          <div class="col-md-10">
            <input
              type="text"
              class="form-control form-control-sm"
              placeholder=""
              name="groupCategoryInput"
              [(ngModel)]="editGroupCategory"
            />
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-primary"
          (click)="doUpdateGroupCategory()"
        >
          Save
        </button>
        <button
          type="button"
          class="btn btn-secondary"
          (click)="editNameGroupCategory.hide()"
        >
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>
