<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <div *ngFor="let alert of alerts">
            <alert
              [type]="alert.type"
              [dismissOnTimeout]="alert.timeout"
              (onClosed)="onClosed(alert)"
              >{{ alert.msg }}</alert
            >
          </div>
          <div class="row align-items-center mb-2">
            <div class="col-3">
              <input
                type="text"
                class="form-control"
                placeholder="Search.."
                name="searchInput"
                [(ngModel)]="searchModel"
              />
            </div>
            <div class="col">
              <button
                type="button"
                class="btn btn-primary px-4"
                (click)="clickSearch()"
              >
                Search
              </button>
            </div>
          </div>
          <div class="row-float">
            <div class="float-left">
              <input
                type="checkbox"
                name="checkBoxAllArticle"
                [(ngModel)]="checkedAllModel"
                (ngModelChange)="onCheckedAllChange(editingList.data)"
              />
              Check All
            </div>
          </div>
          <div class="row">
            <div class="col-12 my-1">
              <button
                type="button"
                class="btn btn-danger"
                *ngIf="deleteShow"
                (click)="openModal(template)"
              >
                Delete
              </button>
              <button
                type="button"
                class="btn btn-outline-primary ml-2"
                *ngIf="deleteShowsend"
                (click)="openSendArticle(sendarticle)"
              >
                Send Article
              </button>
            </div>
          </div>

          <div class="table-responsive" style="overflow-x: hidden;">
            <div class="float-right mb-2">
              <select
                id="periodSelect"
                name="periodSelect"
                class="form-control form-control-sm"
                (change)="onSizeChange()"
                [(ngModel)]="pageSize"
                style="width: 120px;"
              >
                <option value="10">10</option>
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="100">100</option>
                <option value="500">500</option>
                <option value="1000">1000</option>
              </select>
            </div>
            <table class="table table-bordered table-striped table-sm">
              <thead>
                <tr class="d-flex">
                  <th style="width: 5%;"></th>
                  <th style="width: 10%;">
                    Date
                    <i class="fa fa-sort" (click)="sortingHandler('datee')"></i>
                  </th>
                  <th style="width: 10%;">Media</th>
                  <th style="width: 5%;">Page</th>
                  <th style="width: 30%;">
                    Title
                    <i class="fa fa-sort" (click)="sortingHandler('title')"></i>
                  </th>
                  <th style="width: 30%;">Summary</th>
                  <th style="width: 10%;">Tone</th>
                  <th *ngIf="showpanelnew" style="width: 6%;">
                    Topic
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let client of editingList.data" class="d-flex">
                  <td style="width: 5%;">
                    <input
                      type="checkbox"
                      name="checkBoxDelete"
                      [(ngModel)]="client.checked"
                      (ngModelChange)="onCheckedChange(client)"
                    />
                  </td>
                  <td style="width: 10%;">{{ client.datee }}
                  </td>
                  <td style="width: 10%;">{{ client.media_name }}</td>
                  <td style="width: 5%;">
                    <div *ngIf="client.page == '1'">
                      <a href="{{ client.file_pdf }}" target="blank">Link</a>
                    </div>
                    <div *ngIf="client.page != '1'">
                      {{ client.page }}
                    </div>
                  </td>
                  <td style="width: 30%;">
                    <button
                      class="btn btn-block btn-link"
                      type="button"
                      (click)="showSearchModal(client)"
                      style="word-wrap: break-word; text-align: justify;"
                    >
                      {{
                        client.title_edit == null
                          ? client.title
                          : client.title_edit
                      }}
                      <i
                      class="fa fa-check-circle fa-lg"
                      style="color: rgb(89, 168, 16);"
                      *ngIf="client.addedJM == true"
                    ></i>
                    </button>
                    <div *ngIf="flagToneSumary == '1'"></div>
                    <div *ngIf="flagToneSumary == '3'">
                      <p>
                        <i
                          class="fa fa-pencil-square-o"
                          (click)="
                            editTitle(
                              client.title_edit == null
                                ? client.title
                                : client.title_edit,
                              client.article_id,
                              client.category_id
                            )
                          "
                        ></i>
                      </p>
                    </div>
                    <div *ngIf="flagToneSumary == '2'">
                      <p>
                        <i
                          class="fa fa-pencil-square-o"
                          (click)="
                            editTitle(
                              client.title_edit == null
                                ? client.title
                                : client.title_edit,
                              client.article_id,
                              client.category_id
                            )
                          "
                        ></i>
                      </p>
                    </div>
                    <div *ngIf="flagToneSumary == '5'"></div>
                  </td>
                  <td style="width: 30%;">
                    {{
                      client.summary == null
                        ? (client.content | slice: 0:150)
                        : (client.summary | slice: 0:150)
                    }}
                    <div *ngIf="flagToneSumary == '1'"><!--viewer--></div>
                    <div *ngIf="flagToneSumary == '3'">
                      <!--admin-->
                      <p>
                        <i
                          class="fa fa-pencil-square-o"
                          (click)="
                            editSummary(
                              client.article_id,
                              client.category_id,
                              client.summary,
                              client.content
                            )
                          "
                        ></i>
                      </p>
                    </div>
                    <div *ngIf="flagToneSumary == '2'">
                      <!--editor-->
                      <p>
                        <i
                          class="fa fa-pencil-square-o"
                          (click)="
                            editSummary(
                              client.article_id,
                              client.category_id,
                              client.summary,
                              client.content
                            )
                          "
                        ></i>
                      </p>
                    </div>
                    <div *ngIf="flagToneSumary == '5'"><!--reader--></div>
                  </td>

                  <td style="width: 10%;">
                    {{
                      client.tone == 1
                        ? "Positive"
                        : client.tone == 0
                        ? "Neutral"
                        : "Negative"
                    }}
                    <div *ngIf="flagToneSumary == '1'"><!--viewer--></div>
                    <div *ngIf="flagToneSumary == '2'">
                      <!--editor-->
                      <p>
                        <i
                          class="fa fa-pencil-square-o"
                          (click)="
                            editTone(
                              client.article_id,
                              client.category_id,
                              client.tone
                            )
                          "
                        ></i>
                      </p>
                      <p>
                        <i
                          class="fa fa-check-circle fa-lg mt-4"
                          style="color: rgb(89, 168, 16);"
                          *ngIf="client.flags != null"
                        ></i>
                      </p>
                    </div>
                    <div *ngIf="flagToneSumary == '3'">
                      <!--admin-->
                      <p>
                        <i
                          class="fa fa-pencil-square-o"
                          (click)="
                            editTone(
                              client.article_id,
                              client.category_id,
                              client.tone
                            )
                          "
                        ></i>
                      </p>
                      <p>
                        <i
                          class="fa fa-check-circle fa-lg mt-4"
                          style="color: rgb(89, 168, 16);"
                          *ngIf="client.flags != null"
                        ></i>
                      </p>
                    </div>
                    <div *ngIf="flagToneSumary == '5'"><!--reader--></div>
                  </td>
                  <td *ngIf="showpanelnew" style="width: 6%;">
                    <div class="option-col text-center">
                      <a class="option-item" (click)="modaltopic(client)"
                        ><i class="icon-magnifier icons"></i
                      ></a>
                      <p>
                        <i
                          class="fa fa-check-circle fa-lg mt-4"
                          style="color: rgb(89, 168, 16);"
                          *ngIf="client.topic.length != 0"
                        ></i>
                      </p>
                    </div>
                  </td>
                </tr>
                <tr *ngIf="editingList.data?.length == 0">
                  <td colspan="7" class="no-data-available">No data!</td>
                </tr>
              </tbody>
            </table>
          </div>
          <br />
          <div *ngIf="editingList.data?.length > 0">
            <div class="row">
              <div class="col-md-6"></div>
              <div class="col-md-6" style="text-align: right;">
                Total article found : {{ editingList.recordsTotal }}
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <pagination
                  [totalItems]="editingList.recordsTotal"
                  [itemsPerPage]="pageSize"
                  [maxSize]="6"
                  [(ngModel)]="currentPage"
                  (pageChanged)="pageChanged($event)"
                ></pagination>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #template>
  <div class="modal-body text-center">
    <p>Are you sure you want to delete this article?</p>
    <button type="button" class="btn btn-default" (click)="doDeleteArticle()">
      Yes
    </button>
    <button type="button" class="btn btn-primary" (click)="decline()">
      No
    </button>
  </div>
</ng-template>

<ng-template #sendarticle>
  <div class="modal-header">
    Send Article
  </div>
  <div class="modal-body">
    <div class="container">
      <div class="row">
        <div class="col-6">
          <div class="row">
            <div class="col-12">Category
              <strong>Filter</strong></div>
            <div class="col-12">
              <div class="form-group">
                <select
                  class="form-control rounded form-control-sm"
                  [(ngModel)]="groupCategoryModel"
                  (change)="onGroupCategoryChange($event.target.value)"
                  id="ccmonth"
                >
                  <option
                    *ngFor="let Opsi of groupCategoryOption"
                    [value]="Opsi.descriptionz"
                  >
                    {{ Opsi.descriptionz }}
                  </option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="row">
            <div class="col-12">
              SubCategory
            <strong>Filter</strong>
            </div>
            <div class="col-12">
              <div class="form-group">
                <select
                  class="form-control rounded form-control-sm"
                  [(ngModel)]="subCategoryModel"
                  id="ccmonth"
                >
                  <option
                    *ngFor="let Opsi of subCategoryOption"
                    [value]="Opsi.category_id"
                  >
                    {{ Opsi.category_id }}
                  </option>
                </select>
              </div>
              <div *ngIf="trigersub" style="color: red;">
                The sub category must be selected
              </div>
            </div>
          </div>
        </div>
        <div class="col-12">
          Total article send : {{datachecked.length}}
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="sendarticleselect()">
      Send
    </button>
    <button type="button" class="btn btn-secondary" (click)="decline()">
      Cancel
    </button>
  </div>
</ng-template>

<!-- update Tone modal -->
<div
  bsModal
  #editToneModal="bs-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit Tonality</h5>
        <button
          type="button"
          class="close"
          (click)="editToneModal.hide()"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-2">
            <p>Tone</p>
          </div>
          <div class="col-md-10">
            <select
              id="toneSelect"
              name="toneSelect"
              class="form-control form-control-sm"
              [(ngModel)]="toneModel"
            >
              <option value="0">Neutral</option>
              <option value="1">Positive</option>
              <option value="-1">Negative</option>
            </select>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="doUpdateTone()">
          Save
        </button>
        <button
          type="button"
          class="btn btn-secondary"
          (click)="editToneModal.hide()"
        >
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>

<div
  bsModal
  #editSummaryModal="bs-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ editname }}</h5>
        <button
          type="button"
          class="close"
          (click)="editSummaryModal.hide()"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-12">
            <textarea
              id="textarea-input"
              name="textarea-input"
              rows="12"
              class="form-control"
              [(ngModel)]="summaryModel"
              placeholder="Content.."
            ></textarea>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button
          *ngIf="editname == 'Edit Summary'"
          type="button"
          class="btn btn-primary"
          (click)="doUpdateSummary()"
        >
          Save
        </button>
        <button
          *ngIf="editname == 'Edit Title'"
          type="button"
          class="btn btn-primary"
          (click)="doUpdateTitle()"
        >
          Save
        </button>
        <button
          type="button"
          class="btn btn-secondary"
          (click)="editSummaryModal.hide()"
        >
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>

<div
  bsModal
  #subTopicDetail="bs-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
  [config]="{ backdrop: 'static' }"
>
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Topic Detail</h3>
        <button
          type="button"
          class="close"
          (click)="subTopicDetail.hide()"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div *ngFor="let alert of alerts">
        <alert
          [type]="alert.type"
          [dismissOnTimeout]="alert.timeout"
          (onClosed)="onClosed(alert)"
          >{{ alert.msg }}</alert
        >
      </div>
      <div id="print-section" class="modal-body">
        <form class="form-horizontal" #FormSubTopic="ngForm">
          <div class="row">
            <div class="col-sm-12" *ngIf="showpanelnew === false">
              <div class="form-group">
                <label for="subTopicName">Topic</label>
                <input
                  name="subTopicName"
                  class="form-control"
                  required
                  [(ngModel)]="topicNameModel"
                  #subTopicName="ngModel"
                />

                <br />
                <div
                  *ngIf="subTopicName.invalid && subTopicName.dirty"
                  class="alert alert-danger"
                >
                  <div *ngIf="subTopicName.errors.required">
                    Topic Can't be empty
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-12" *ngIf="showpanelnew === true">
              <div class="form-group">
                <label for="subTopicName">Topic</label>
                <div>
                  <ng-autocomplete
                    [data]="autocomplete"
                    [searchKeyword]="keyword"
                    (selected)="selectEvent($event)"
                    (inputChanged)="onChangeSearch($event)"
                    (inputFocused)="onFocused($event)"
                    [itemTemplate]="itemTemplate"
                    [notFoundTemplate]="notFoundTemplate"
                    placeHolder="Search.."
                    [(ngModel)]="topicNameModel"
                    [ngModelOptions]="{ standalone: true }"
                  >
                  </ng-autocomplete>

                  <ng-template #itemTemplate let-item>
                    <a [innerHTML]="item.name"></a>
                  </ng-template>

                  <ng-template #notFoundTemplate let-notFound>
                    <div [innerHTML]="notFound"></div>
                  </ng-template>
                </div>
                <br />
                <!-- <div
                  *ngIf="subTopicName.invalid && subTopicName.dirty"
                  class="alert alert-danger"
                >
                  <div *ngIf="subTopicName.errors.required">
                    Topic Can't be empty
                  </div>
                </div> -->
              </div>
            </div>
          </div>
        </form>
        <br /><br />
        <div
          class="table-responsive"
          style="height: 150px; overflow-x: hidden;"
        >
          <table class="table table-bordered table-striped table-sm">
            <tbody>
              <tr *ngFor="let details of topicDetailsList">
                <td class="text-center">{{ details }}</td>
                <td style="text-align: center;">
                  <i class="icon-pencil icons" (click)="editTopic(details)">
                  </i>
                </td>
                <td style="text-align: center;">
                  <i class="icon-trash icons" (click)="deleteTopic(details)">
                  </i>
                </td>
              </tr>
              <tr *ngIf="topicDetailsList.length == 0">
                <td colspan="7" class="no-data-available">No Topics!</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-primary"
          [disabled]="!FormSubTopic.valid"
          (click)="addTopic(); FormSubTopic.reset()"
        >
          Add Topic
        </button>
        <button
          type="button"
          class="btn btn-secondary"
          (click)="subTopicDetail.hide()"
        >
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<div
  bsModal
  #topicModals="bs-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
  [config]="{ backdrop: 'static' }"
>
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit Topic</h5>
        <button
          type="button"
          class="close"
          (click)="topicModals.hide()"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" #FormTopic="ngForm">
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="topicName">TOPIC</label>
                <input
                  name="topicName"
                  class="form-control"
                  required
                  [(ngModel)]="topicModel"
                  #topicName="ngModel"
                  id="topicName"
                />
                <br />
              </div>
            </div>
          </div>
        </form>
        <br />
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-primary"
          [disabled]="!FormTopic.valid"
          (click)="editTopicsubmit(); FormTopic.reset()"
        >
          Submit
        </button>
      </div>
    </div>
  </div>
</div>

<app-ArticleDetails #searchModalContainer></app-ArticleDetails>
