.btn {
  white-space: normal;
}

.row-float {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.action-group {
  position: relative;
  width: 100%;
  margin: 0 0 1rem;

  .action-item {
    flex: 1 0 auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    float: left;

    .btn {
      margin-right: 0.8em;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

table {
  thead {
    text-transform: capitalize;

    th {
      max-width: 100px;
    }
  }
  .content-title {
    cursor: pointer;
  }

  .option-col {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    .option-item {
      color: #457b9d;
      cursor: pointer;

      &:last-child {
        color: red;
      }
    }
  }
}

@media (max-width: 992px) {
  table {
    .option-col {
      flex-direction: column;
    }
  }
}
