<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <div *ngFor="let alert of alerts">
            <alert
              [type]="alert.type"
              [dismissOnTimeout]="alert.timeout"
              (onClosed)="onClosed(alert)"
              >{{ alert.msg }}</alert
            >
          </div>
          <div class="row align-items-center mb-2">
            <div class="col-3">
              <input
                type="text"
                class="form-control"
                placeholder="Search.."
                name="searchInput"
                [(ngModel)]="searchModel"
              />
              <!-- <div>
                <ng-autocomplete
                  [data]="autocomplete"
                  [searchKeyword]="keyword"
                  (selected)='selectEvent($event)'
                  (inputChanged)='onChangeSearch($event)'
                  (inputFocused)='onFocused($event)'
                  [itemTemplate]="itemTemplate"
                  [notFoundTemplate]="notFoundTemplate"
                  placeHolder="Search.."
                  [(ngModel)]="searchModel"
                  >                                 
                </ng-autocomplete>
                 
                <ng-template #itemTemplate let-item>
                <a [innerHTML]="item.name"></a>
                </ng-template>
                 
                <ng-template #notFoundTemplate let-notFound>
                <div [innerHTML]="notFound"></div>
                </ng-template>
                </div> -->
            </div>
            <div class="col">
              <button
                type="button"
                class="btn btn-primary px-4"
                (click)="clickSearch()"
              >
                Search
              </button>
            </div>
          </div>

          <div class="row-float">
            <div class="float-left">
              <input
                type="checkbox"
                name="checkBoxAllArticle"
                [(ngModel)]="checkedAllModel"
                (ngModelChange)="onCheckedAllChange(editingList.data)"
              />
              Check All
            </div>
          </div>

          <div class="row">
            <div class="col-12">
              <div class="action-group">
                <div class="action-item my-1" *ngIf="deleteShow">
                  <button
                    type="button"
                    class="btn btn-danger"
                    (click)="openModal(template)"
                  >
                    Delete
                  </button>
                  <button
                    type="button"
                    class="btn btn-outline-primary"
                    (click)="scanHandler()"
                  >
                    <i class="fa fa-file-photo-o"></i>
                    Scan Media
                  </button>
                  <button
                    type="button"
                    class="btn btn-outline-primary"
                    (click)="textHandler()"
                  >
                    <i class="fa fa-newspaper-o"></i>
                    Print Text
                  </button>
                  <button
                    type="button"
                    class="btn btn-outline-primary"
                    (click)="DocHandler()"
                  >
                    <i class="fa fa-file-word-o"> </i>
                    Word Doc
                  </button>
                  <button
                    type="button"
                    class="btn btn-outline-primary"
                    (click)="emailHandler()"
                  >
                    <i class="fa fa-envelope-o"> </i>
                    Email
                  </button>
                  <button
                    *ngIf="request"
                    type="button"
                    class="btn btn-outline-primary"
                    (click)="translateHandler()"
                  >
                    <i class="fa fa-envelope-o"> </i>
                    Request Translate
                  </button>
                </div>
              </div>
            </div>
          </div>

          <div class="table-responsive">
            <div class="float-right mb-2">
              <select
                id="periodSelect"
                name="periodSelect"
                class="form-control form-control-sm"
                (change)="onSizeChange()"
                [(ngModel)]="pageSize"
                style="width: 120px;"
              >
                <option value="10">10</option>
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="100">100</option>
                <option value="500">500</option>
                <option value="1000">1000</option>
              </select>
            </div>
            <table class="table table-bordered table-striped table-sm">
              <thead>
                <tr>
                  <th class="text-center">
                    Select
                  </th>
                  <th>
                    Date
                    <span class="float-right">
                      <i
                        class="fa fa-sort"
                        (click)="sortingHandler('datee')"
                      ></i>
                    </span>
                  </th>
                  <th>
                    Media
                    <span class="float-right">
                      <i
                        class="fa fa-sort"
                        (click)="sortingHandler('media_name')"
                      ></i>
                    </span>
                  </th>
                  <th>
                    Title
                  </th>
                  <th *ngIf="showpanelnew">
                    Topic
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let client of editingList.data">
                  <td class="text-center">
                    <input
                      type="checkbox"
                      name="checkBoxDelete"
                      [(ngModel)]="client.checked"
                      (ngModelChange)="onCheckedChange(client, index)"
                    />
                  </td>
                  <!-- <td style="width: 15%">{{ client.datee | date: 'dd-MM-yyyy hh:mm'}}</td> -->
                  <td>{{ client.datee }}</td>
                  <td>{{ client.media_name }}</td>
                  <td>
                    <span
                      class="content-title"
                      (click)="showSearchModal(client)"
                      >{{ client.title }}</span
                    >
                  </td>
                  <td *ngIf="showpanelnew">{{ topicnews }}</td>
                </tr>
                <tr *ngIf="editingList.data?.length == 0">
                  <td colspan="7" class="no-data-available">No data!</td>
                </tr>
              </tbody>
            </table>
          </div>
          <br />
          <div *ngIf="editingList.data?.length > 0">
            <div class="col-md-12" style="text-align: right;">
              Total article found : {{ editingList.recordsTotal }}
            </div>
            <div class="row">
              <div class="col-md-12">
                <pagination
                  [totalItems]="editingList.recordsTotal"
                  [rotate]="rotate"
                  [itemsPerPage]="pageSize"
                  [maxSize]="6"
                  [(ngModel)]="currentPage"
                  (pageChanged)="pageChanged($event)"
                ></pagination>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #template>
  <div class="modal-body text-center">
    <p>Are you sure you want to delete this article?</p>
    <button type="button" class="btn btn-default" (click)="doDeleteArticle()">
      Yes
    </button>
    <button type="button" class="btn btn-primary" (click)="decline()">
      No
    </button>
  </div>
</ng-template>
<app-ArticleDetails #searchModalContainer></app-ArticleDetails>

<div
  bsModal
  #pushEmailModal="bs-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Push Email</h5>
        <button
          type="button"
          class="close"
          (click)="pushEmailModal.hide()"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-12">
            <p>Input your email</p>
            <p>
              Jika email yang akan dikirim lebih dari 1 maka gunakan koma (,)
              sebagai pemisah email. Cth: abc@mail.com,def@mail.com
            </p>
            <textarea
              id="textarea-input"
              name="textarea-input"
              rows="5"
              class="form-control"
              [(ngModel)]="emailModal"
              placeholder="Email.."
            ></textarea>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="doPushEmail()">
          Send Email
        </button>
        <button
          type="button"
          class="btn btn-secondary"
          (click)="pushEmailModal.hide()"
        >
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>
<div
  bsModal
  #pushrequestlModal="bs-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Request Translate</h5>
        <button
          type="button"
          class="close"
          (click)="closemodalrequest()"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-12">
            <div class="row">
              <div class="col-4">
                <p>TO (*)</p>
              </div>
              <div class="col-8">
                <textarea
                  id="textarea-input"
                  name="textarea-input"
                  rows="2"
                  class="form-control"
                  [(ngModel)]="emailModal"
                  placeholder="Email.."
                ></textarea>
              </div>
            </div>
          </div>
          <div class="col-sm-12 mt-2">
            <div class="row">
              <div class="col-4">
                <p style="font-size: 9pt;">Body Email (optional)</p>
              </div>
              <div class="col-8">
                <input
                  type="text"
                  class="form-control"
                  placeholder="body email ..."
                  [(ngModel)]="bodyemailModal"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="doPushRequest()">
          Send
        </button>
        <button
          type="button"
          class="btn btn-secondary"
          (click)="closemodalrequest()"
        >
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>


