<div
  bsModal
  #searchModal="bs-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ titleModel }}
          <h6 *ngIf="titleTone !== ''">( {{ titleTone == 1 ? "Positive": titleTone == 0 ? "Neutral" : "Negative" }} )</h6>
        </h5>
        <button
          type="button"
          class="close"
          (click)="searchModalClose()"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div *ngFor="let alert of alerts">
        <alert
          [type]="alert.type"
          [dismissOnTimeout]="alert.timeout"
          (onClosed)="onClosed(alert)"
          >{{ alert.msg }}
        </alert>
      </div>
      <div id="print-section" class="modal-body">
        <div class="row">
          <table class="table borderless" style="margin-left: 3px;">
            <tbody>
              <tr class="d-flex">
                <td style="width: 15%;">Title</td>
                <td style="width: 85%;">: {{ titleModel }}</td>
              </tr>
              <tr class="d-flex">
                <td style="width: 15%;">Date</td>
                <td style="width: 35%;">
                  : {{ dateModel | date: "dd-MMMM-yyyy" }}
                </td>
                <td
                  style="width: 15%;"
                  *ngIf="pageDesc.pdf_text || pageDesc.save"
                >
                  News Value
                </td>
                <td
                  style="width: 35%;"
                  *ngIf="pageDesc.pdf_text || pageDesc.save"
                >
                  : {{ articleArr.advalue_bw | currency: "IDR" }}
                </td>
              </tr>
              <tr class="d-flex">
                <td style="width: 15%;">Media</td>
                <td style="width: 35%;">: {{ mediaModel }}</td>
                <td
                  style="width: 15%;"
                  *ngIf="pageDesc.pdf_text || pageDesc.save"
                >
                  Ad Value
                </td>
                <td
                  style="width: 35%;"
                  *ngIf="pageDesc.pdf_text || pageDesc.save"
                >
                  : {{ articleArr.advalue_fc | currency: "IDR" }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <p>Content</p>
        <div class="video" *ngIf="mediaExtensionModel == 'mp4'">
          <video [src]="urlFileModel" #videoPlayer controls>
            Your browser does not support HTML5 video.
          </video>
        </div>
        <textarea
          id="textarea-input"
          name="textarea-input"
          rows="8"
          class="form-control"
          [(ngModel)]="summaryModel"
          placeholder="Content.."
        ></textarea>
        <div
          [innerHTML]="contentModel"
          style="
            height: 200px;
            overflow-y: auto;
            border: 1px solid lightgrey;
            border-radius: 5px;
            padding: 10px;
          "
          class="mt-2"
        ></div>
        <br />
        <div class="row">
          <div class="d-flex cat-badge" *ngFor="let client of categoriesList">
            <span class="badge badge-pill badge-primary"
              ><i
                class="badge-icon fa fa-remove"
                (click)="openModal(template, client)"
              ></i
              >{{ client }}</span
            >
          </div>
        </div>
      </div>
      <div class="modal-footer float-left">
        <button
          id="link"
          type="button"
          class="btn btn-sm btn-primary px-4"
          *ngIf="pageDesc.link"
          (click)="link()"
        >
          <i class="fa fa-link"></i> Link
        </button>
        <button
          type="button"
          class="btn btn-sm btn-primary px-4"
          *ngIf="pageDesc.scan_media"
          (click)="scanHandler()"
        >
          <i class="fa fa-file-photo-o"></i> Scan Media
        </button>
        <button
          type="button"
          class="btn btn-sm btn-primary px-4"
          *ngIf="pageDesc.text_print"
          (click)="textHandler()"
        >
          <i class="fa fa-file-text-o"></i> Print Text
        </button>
        <button
          type="button"
          class="btn btn-sm btn-primary px-4"
          *ngIf="pageDesc.doc"
          (click)="docHandler()"
        >
          <i class="fa fa-file-word-o"></i> Doc
        </button>
        <button
          type="button"
          class="btn btn-sm btn-primary px-4"
          *ngIf="pageDesc.print"
        >
          <i class="fa fa-print" (click)="print()"></i> Print
        </button>
        <button
          type="button"
          *ngIf="pageDesc.pdf_text"
          class="btn btn-sm btn-primary"
          (click)="pdfHandler()"
        >
          PDF Text
        </button>
        <button
          type="button"
          *ngIf="pageDesc.save"
          class="btn btn-sm btn-primary"
          (click)="doSaveArticle()"
        >
          Save Article
        </button>
        <!-- <button
          type="button"
          class="btn btn-sm btn-secondary px-4"
          *ngIf="pageDesc.close"
          (click)="searchModalClose()"
        >
          <i class="fa"></i>Close
        </button> -->
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<ng-template #template>
  <div class="modal-body text-center">
    <p>Are you sure you want to remove this category?</p>
    <button type="button" class="btn btn-default" (click)="doDeleteArticle()">
      Yes
    </button>
    <button type="button" class="btn btn-primary" (click)="decline()">
      No
    </button>
  </div>
</ng-template>

<app-SaveArticles
  #saveArticlesContainer
  (onSave)="onSave($event)"
></app-SaveArticles>
