.borderless td,
.borderless th {
  border: none;
}
mark,
.mark {
  padding: 0.2em;
  background-color: #b7e709;
}

a.link {
  text-decoration: none;
  color: white;
}

.cat-badge {
  margin-left: 1rem;

  .badge {
    font-size: 12px;

    .badge-icon {
      margin-right: 0.5em;
    }
  }
}
