// Here you can add other styles
@media (min-width: 992px) {
  html:not([dir="rtl"]) .aside-menu-show.aside-menu-fixed .main,
  html:not([dir="rtl"]) .aside-menu-show.aside-menu-fixed .app-footer,
  html:not([dir="rtl"]) .aside-menu-lg-show.aside-menu-fixed .main,
  html:not([dir="rtl"]) .aside-menu-lg-show.aside-menu-fixed .app-footer {
    margin-right: 230px;
  }
}
.app-header {
  min-height: 75px;
}

.sidebar .nav {
  // top: 4px;
  z-index: 1020;
  padding-top: 10%;
}

.breadcrumb {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  padding: 0.75rem 1rem;
  margin-bottom: 2rem;
  list-style: none;
  background-color: #fff;
  border-radius: 0;
  // top: 4%;
}

img.navbar-brand-full {
  background-size: cover;
  width: auto;
  height: 65px;
  //     margin: 2%;
}

.app-body .main {
  margin-top: 1rem;
}

.aside-menu {
  margin-top: 1rem;
  // width: fit-content;
  overflow: hidden;

  // tabset .nav.nav-tabs{
  //     display: none;
  // }

  .tab-content {
    overflow: hidden;
  }
}

@media (max-width: 992px) {
  .app-header {
    height: 90px;
  }

  .app-body .main {
    margin-top: 2rem;
  }

  .app-header .navbar-brand {
    position: fixed;
    top: 2%;
    height: 50px;
    margin-left: -77.5px;
  }

  .aside-content {
    padding-top: 2rem;
  }

  .aside-menu-fixed .app-header + .app-body .aside-menu {
    height: calc(100vh - 55px);
    margin-top: 1rem;
    // overflow: auto;
  }

  appasidemenutoggler {
    display: none;
  }
}

@media (max-width: 575.98px) {
  .sidebar-show .main::before,
  .aside-menu-show .main::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1018;
    width: 100%;
    height: 100%;
    content: "";
    /* background: rgba(0, 0, 0, 0.7); */
    -webkit-animation: opacity 0.25s;
    animation: opacity 0.25s;
    // overflow: auto;
  }
}

.app-header .navbar-toggler-icon.filter {
  height: 23px;
  background-image: url("../assets/img/filter.jpeg") !important;
}

// .modal.show .modal-dialog {
//   top: 50%;
//   transform: translateY(-50%);
// }
