// If you want to override variables do it here
@import "variables";

// Import styles
@import "~@coreui/coreui/scss/coreui";

// If you want to add something do it here
@import "custom";

* {
  box-sizing: border-box;
}

.bs-datepicker {
  position: absolute !important;
  top: -30vh !important;
  left: -15vw !important;
}
