<div class="animated fadeIn">
  <div *ngFor="let alert of alerts">
    <alert
      [type]="alert.type"
      [dismissOnTimeout]="alert.timeout"
      (onClosed)="onClosed(alert)"
      >{{ alert.msg }}</alert
    >
  </div>
  <div class="card">
    <div class="card-header">Geospatial</div>
    <div class="card-body">
      <div class="col-12">
            <div [chart]="mapChart" id="mapChart"></div>
      </div>
    </div>
  </div>
</div>

<div
  bsModal
  #showArticlesModalmaps="bs-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <p>
          Articles List
        </p>
        <button
          type="button"
          class="close"
          (click)="showArticlesModalmaps.hide()"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div
            class="container article"
            *ngIf="articlesList.data?.length > 0"
            style="overflow-y: scroll; height: 400px; overflow-x: hidden;"
          >
            <div class="col-md-12" *ngFor="let article of articlesList.data">
              <button
                class="btn btn-block btn-link"
                type="button"
                style="word-wrap: break-word; text-align: justify;"
                (click)="showSearchModalmaps(article)"
              >
                <h4>{{ article.title }}</h4>
              </button>
              <div class="col-md-12" style="text-align: justify;">
                {{ article.content | slice: 0:150 }}
                <p>
                  <small
                    >{{ article.media_name }} /
                    {{ article.datee | date: "dd-MMMM-yyyy" }}</small
                  >
                </p>
              </div>
              <hr />
            </div>
          </div>
          <div *ngIf="articlesList.data?.length > 0">
            <div class="col-md-12" style="text-align: right;">
              Total article found :
              {{
                articlesList.recordsTotal
                  ? articlesList.recordsTotal
                  : articlesList.total
              }}
            </div>
            <div class="row">
              <div class="col-md-12">
                <pagination
                  id="maps"
                  [totalItems]="articlesList.recordsTotal"
                  [rotate]="rotate"
                  [maxSize]="pageSize"
                  [(ngModel)]="currentPagemaps"
                  (pageChanged)="pageChangedmaps($event)"
                ></pagination>
              </div>
            </div>
          </div>
          <div
            class="infinite-container"
            style="margin-top: 10%;"
            *ngIf="articlesList.data?.length == 0"
          >
            <div class="col-md-12">
              <h3 style="text-align: center;">No Articles found!</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-ArticleDetails #searchModalContainer></app-ArticleDetails>